.productos{
    display: grid;
    padding: 15px;
    grid-auto-flow: column;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 300px;
    gap: 0 10px;
    justify-content: center;

}
.productos-item p{
    text-align: center;
    margin: 0;
    margin-top: 5px;
}
.productos-item{
    background: #eee;
    border-radius: 8px;
}
.producto-img{
    margin-top: 10px;
    text-align: center;
}
.producto-img img{
    border-radius: 4px;
    width: 285px;
    height: 225px;
    object-fit: cover;
}
.productos-item:hover .producto-img{
    transform: scale(0.9);
    transition: transform 1s;
}
/*textos*/


/* fin textos */

